# ignore everything in build except the data
Build/*
!Build/Bin/data/

# ignore specific paths
.vscode/
.vs/
#
CRen/Thirdparty/ctoolbox
CRen/Thirdparty/memm
CRen/Thirdparty/vecmath
#
Engine/Thirdparty/imgui
Engine/Thirdparty/sdl